<launch>
  <arg name="sequence" default="stadtgarten_seq2" />
  <arg name="dataset_root" default="/media/gulu/一只沙糖桔/Dataset" />
  <arg name="bag" default="$(arg dataset_root)/ros1/$(arg sequence).bag" />
  <arg name="save_path" default="/home/gulu/data" />
  <arg name="run_dir" default="$(arg save_path)/$(anon replay)" />
  <arg name="gnss_helpers" default="/home/gulu/TiaoZhanBei/eval_20260830/results/drift_repair_20260906/scripts" />
  <arg name="rviz" default="true" />

  <!-- Match the verified local runtime library order, including the MVS/libusb fix. -->
  <env name="LD_LIBRARY_PATH" value="/home/gulu/catkin_ws/devel/lib:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu:/opt/ros/noetic/lib:/home/gulu/Sophus/build:/usr/local/lib" />
  <env name="LD_PRELOAD" value="/lib/x86_64-linux-gnu/libusb-1.0.so.0" />

  <include file="$(find fast_livo)/launch/mapping_rtk_slam_dataset_ours.launch">
    <arg name="run_dir" value="$(arg run_dir)/native" />
    <arg name="scratch_root" value="$(arg run_dir)/frontend" />
    <arg name="config_override" value="$(find fast_livo)/config/rtk_slam_dataset/drift_repair_buffered.yaml" />
  </include>

  <!-- These display settings override the benchmark's XYZI-only publication. -->
  <param name="/publish/colorize_cloud_en" value="true" />
  <param name="/publish/pub_scan_num" value="1" />
  <param name="/rtk_slam_rgb/run_dir" type="string" value="$(arg run_dir)" />

  <node pkg="fast_livo" type="rtk_slam_gnss_bridge.sh"
        name="rtk_slam_gnss_adapter" required="true" output="screen"
        args="&quot;$(arg bag)&quot; &quot;$(arg run_dir)&quot; &quot;$(arg gnss_helpers)&quot;" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
          args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" />
  </group>
</launch>
