<launch>
  <arg name="source" default="serial"/>
  <arg name="port" default="/dev/uwb"/>
  <arg name="baud" default="115200"/>
  <arg name="dtr" default="true"/>
  <arg name="rts" default="false"/>
  <arg name="replay_file" default=""/>
  <arg name="replay_mode" default="preserve"/>
  <arg name="replay_loop" default="false"/>
  <arg name="replay_rate_hz" default="10.0"/>
  <arg name="parser_mode" default="distance_round5"/>
  <arg name="distance_lines_per_round" default="5"/>
  <arg name="round_timeout_s" default="2.0"/>
  <arg name="round_timestamp_policy" default="first_distance_line"/>
  <arg name="timestamp_mode" default="host_local"/>
  <arg name="imu_timeshare_path" default="$(env HOME)/timeshare_imu"/>
  <arg name="imu_anchor_warn_age_s" default="0.020"/>
  <arg name="imu_anchor_max_age_s" default="0.100"/>
  <arg name="time_offset_s" default="0.0"/>
  <arg name="config_file" default="$(find uwb_serial_driver)/config/default.yaml"/>
  <rosparam command="load" file="$(arg config_file)" ns="uwb_serial_driver"/>
  <node pkg="uwb_serial_driver" type="uwb_serial_node.py"
        name="uwb_serial_driver" output="screen" required="true">
    <param name="source" value="$(arg source)"/>
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
    <param name="dtr" value="$(arg dtr)" type="bool"/>
    <param name="rts" value="$(arg rts)" type="bool"/>
    <param name="replay_file" value="$(arg replay_file)"/>
    <param name="replay_mode" value="$(arg replay_mode)"/>
    <param name="replay_loop" value="$(arg replay_loop)"/>
    <param name="replay_rate_hz" value="$(arg replay_rate_hz)"/>
    <param name="parser_mode" value="$(arg parser_mode)"/>
    <param name="distance_lines_per_round"
           value="$(arg distance_lines_per_round)"/>
    <param name="round_timeout_s" value="$(arg round_timeout_s)"/>
    <param name="round_timestamp_policy"
           value="$(arg round_timestamp_policy)"/>
    <param name="timestamp_mode" value="$(arg timestamp_mode)"/>
    <param name="imu_timeshare_path" value="$(arg imu_timeshare_path)"/>
    <param name="imu_anchor_warn_age_s"
           value="$(arg imu_anchor_warn_age_s)"/>
    <param name="imu_anchor_max_age_s"
           value="$(arg imu_anchor_max_age_s)"/>
    <param name="time_offset_s" value="$(arg time_offset_s)"/>
  </node>
</launch>
